<!DOCTYPE html>
<html lang="en" >

<head>


<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link rel="icon" type="image/png" href="https://lh3.googleusercontent.com/QOLH6xfPsFzIaOVW8-Ds_Y8GdxlMqJZuV05BIBuOmynFp13Ja_tKZc3N5VNEq7dcMQOW2uWZ4hHpGQkfWCLmvaqFST15niDJBUGimCiv8jOEjOh_WBMwbI2592AlWWeRi5XZOHhb1V0KHZJJjB1j2KMHCOwFjpnzcaBJkOP6rdNWcroeXG4eP_I5xDRsrb0rtF6FCPhSR43dyx_KQo5_7JgCFHXVe9Y8nU93hS6JE6OYnxWsIxD4i6az_bGvbpGMlqBq0KlTE7AKcAjHvosnyfiObuvNfxf33dHPFLS8-cCVT_xS66v3AEQuDYvISSgMPVH0cPpH4NY8cH3vy0Q4Hqe-MR-O97QKtrmZSy8BQ6vFD8Pdphy7EkldccE2kmjgwVjW2F6bymM3BZ7GuZ6DFgJjFAvEaUIlcplxFH8U0DOVXroxaT6GnYRCHXrP-zSDUloepNxzZIH3tjjnloMVt3HddhMOGGbhR9ruyOAP6KFVlpUcV8bHxOup6Bt9F8qNfGZyiA3FlIRb3BXc_Edwrxt3zDhXmy38Wp-zmUqeRRI_UK-6-2qsE0WSLr99z-hDdDWkN7dLKvny9hA870lmOf-M6Rz6vH0ooAwhBXk=w1187-h718-no " />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/about.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <title>Vulture</title>
  </head>
  <body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="entirenavbar">
  
<div class="navbar-brand brandlogo" href="#">

  <img id="logo" src="https://image.ibb.co/czQsj6/Vulture_Logo.png" width="70" class="d-inline-block align-top" alt="" style="padding-top: 8px">
  <span id="Vulture">Vulture</span>

</div>


<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">


  <div class="navbar-nav" id="nav-item-container">
    <!-- navbar items are inserted here -->
  </div>
</div>
</nav>






<div id="page">
  <div class="pane">
    
    <div class="container">
         <div class="row">
              <div class="col-1">
              </div>
           
              <div class="col-9">
                   <h1>Vulture</h1>
                   <h4>Free Food. Simplified.</h4>
              </div>
           
           
              <div class="col-2">
                <div class="arrow">&#11015;</div>
              </div>
        <div id="pictureframe">
                    <div id="bird">
                     <div id="body2"></div>
                      <div id="body1"></div>
                     <div id="wing-l"></div>  
                     <div id="wing-r"></div>  
                    </div>
                    <div id="shadow"></div>
                  </div>
                
          </div>
     </div>
    
    
  </div>
  <div class="pane">
    
        <div class="container">
          
         <div class="row">
              
              <div class="col-6" id="dome">
                
              </div>
           
              <div class="col-5" class="down">
                   
                <p><b>By MIT. For MIT.</b><br>
                  Vulture is a free food web app to replace the <br>current free food mailing lists.
   Currently, MIT students <br>subscribe to
   mailing lists where anyone can email <br>out information 
   about free food. However, this system <br>has its 
   flaws. Since so many people subscribe to the <br>mailing lists, they are a target for spam.  Additionally,<br> there is no way to know when the food is gone; <br> thus, students may go to the location of the free <br>food and discover that there is nothing left. Our <br>website solves these issues and more!</p>
              </div>
           
           
              
                
          </div>
     </div>
   
  </div>
  <div class="pane">
    
    
   <div class="container">
          
         <div class="row">
              
              
           
           
              <div class="col-6" class="down">
                   
                <p><b>How it works</b><br>
The site displays real-time information about free food on campus. <br>A map shows the locations of various free foods. The 
sortable table <br>allows you to easily find 
what you are looking for. On the <br>top left, you 
can view details about the food posting based on <br>the selected map marker or the listing in the table, and report <br>if the food is gone. To post food, users can login with <br>Google authentication and post food type, location, quantity, etc.<br>  The login deters individuals from posting spam.</p>
              </div>
           
           <div class="col-6" id="map">
                
              </div>
              
                
          </div>
     </div>
   
    
  </div>
  <div class="pane">
    <div class="container">
        <div class="row" id="about">
          <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The creators:</h3>
        </div>
      <div class="row">
        <div class="col-3">
            <h6></h6>
           </div>
          <div class="col-3">
            <h6>Linnea Rylander</h6>
            <div id="linnea"></div>

           </div>
          <div class="col-3">
            <h6>Angela Wong</h6>
            <div id="angela"></div>
           </div>
          <!-- <div class="col-3">
            <h6>Alan Yan</h6>
           </div> -->
        <div class="col-3">
            <h6></h6>
           </div>
        
        
    
      </div>
   </div>
</div>
  

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <script src="/static/js/api.js"></script>
    <script src="/static/js/navbar.js"></script>
    <script src="/static/js/home.js"></script>
    <script src="/static/js/feed.js"></script>
    <script src="/static/js/index.js"></script>
    <script src="/static/js/about.js"></script>

</body>

</html>
