<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Autocomplete - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    var availableTags = [
      "Stata Center (Building 32)",
      "Building 1",
      "Building 2",
      "Building 3",
      "Building 4",
      "Building 5",
      "Building 6",
      "Building 7",
      "Building 8",
      "Building 9",
      "Building 10",
      "Building 11",
      "Building 12",
      "Building 13",
      "Building 14",
      "Building 15",
      "Building 16",
      "Building 17",
      "Student Center (W20)"
    ];
    $( "#tags" ).autocomplete({
      source: availableTags
    });
  } );
  </script>
</head>
<body>
 
<div class="ui-widget">
  <label for="tags">Tags: </label>
  <input id="tags">
</div>
 
 
</body>
</html>