<!DOCTYPE html>
<html>
  <head>
     <link rel="icon" type="image/png" href="https://lh3.googleusercontent.com/QOLH6xfPsFzIaOVW8-Ds_Y8GdxlMqJZuV05BIBuOmynFp13Ja_tKZc3N5VNEq7dcMQOW2uWZ4hHpGQkfWCLmvaqFST15niDJBUGimCiv8jOEjOh_WBMwbI2592AlWWeRi5XZOHhb1V0KHZJJjB1j2KMHCOwFjpnzcaBJkOP6rdNWcroeXG4eP_I5xDRsrb0rtF6FCPhSR43dyx_KQo5_7JgCFHXVe9Y8nU93hS6JE6OYnxWsIxD4i6az_bGvbpGMlqBq0KlTE7AKcAjHvosnyfiObuvNfxf33dHPFLS8-cCVT_xS66v3AEQuDYvISSgMPVH0cPpH4NY8cH3vy0Q4Hqe-MR-O97QKtrmZSy8BQ6vFD8Pdphy7EkldccE2kmjgwVjW2F6bymM3BZ7GuZ6DFgJjFAvEaUIlcplxFH8U0DOVXroxaT6GnYRCHXrP-zSDUloepNxzZIH3tjjnloMVt3HddhMOGGbhR9ruyOAP6KFVlpUcV8bHxOup6Bt9F8qNfGZyiA3FlIRb3BXc_Edwrxt3zDhXmy38Wp-zmUqeRRI_UK-6-2qsE0WSLr99z-hDdDWkN7dLKvny9hA870lmOf-M6Rz6vH0ooAwhBXk=w1187-h718-no " />
    <title>Post Free Food</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <!-- Bootstrap Responsive meta tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
  </head>

  <body>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
  


<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="entirenavbar">
<div class="navbar-brand brandlogo" href="#">

  <img id="logo" src="https://image.ibb.co/czQsj6/Vulture_Logo.png" width="70" class="d-inline-block align-top" alt="" style="padding-top: 8px">
  <span id="Vulture">Vulture</span>

</div>


<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">


  <div class="navbar-nav" id="nav-item-container">
    <!-- navbar items are inserted here -->
  </div>
</div>

</nav>

    <div class="containercenter"><!--everything below nav-->  

    <!-- form -->
    <!-- <form action="/api/findfood" method="post"> -->
      <div class="form-row">
        <label for="inputLocation">Location *</label>
        <div class="col-3">
            <input type="text" class="form-control" id="tags" placeholder="Building" list="buildings" name="building" required>
            <datalist id="buildings"> 
              <option value="1">
              <option value="2">
              <option value="3">
              <option value="4">
              <option value="5">
              <option value="6">
              <option value="6B">
              <option value="6C">
              <option value="7">
              <option value="7A">
              <option value="8">
              <option value="9">
              <option value="10">
              <option value="11">
              <option value="13">
              <option value="14">
              <option value="16">
              <option value="17">
              <option value="18">
              <option value="24">
              <option value="26">
              <option value="31">
              <option value="32">
              <option value="33">
              <option value="34">
              <option value="35">
              <option value="36">
              <option value="37">
              <option value="38">
              <option value="39">
              <option value="41">
              <option value="42">
              <option value="43">
              <option value="44">
              <option value="46">
              <option value="48">
              <option value="50">
              <option value="51">
              <option value="54">
              <option value="56">
              <option value="57">
              <option value="62">
              <option value="64">
              <option value="66">
              <option value="68">
              <option value="76">
              <option value="E1">
              <option value="E2">
              <option value="E14">
              <option value="E15">
              <option value="E17">
              <option value="E18">
              <option value="E19">
              <option value="E23">
              <option value="E25">
              <option value="E38">
              <option value="E39">
              <option value="E40">
              <option value="E48">
              <option value="E51">
              <option value="E52">
              <option value="E53">
              <option value="E55">
              <option value="E60">
              <option value="E70">
              <option value="N4">
              <option value="N9">
              <option value="N10">
              <option value="N16">
              <option value="N16A">
              <option value="N51">
              <option value="N52">
              <option value="N57">
              <option value="NE18">
              <option value="NE25">
              <option value="NE30">
              <option value="NE47">
              <option value="NE48">
              <option value="NE49">
              <option value="NE108">
              <option value="NE125">
              <option value="NW10">
              <option value="NW12">
              <option value="NW13">
              <option value="NW14">
              <option value="NW15">
              <option value="NW16">
              <option value="NW17">
              <option value="NW20">
              <option value="NW21">
              <option value="NW22">
              <option value="NW23">
              <option value="NW30">
              <option value="NW35">
              <option value="NW61">
              <option value="NW86">
              <option value="W1">
              <option value="W2">
              <option value="W4">
              <option value="W5">
              <option value="W7">
              <option value="W8">
              <option value="W11">
              <option value="W15">
              <option value="W16">
              <option value="W20">
              <option value="W31">
              <option value="W34">
              <option value="W35">
              <option value="W45">
              <option value="W51">
              <option value="W51C">
              <option value="W53">
              <option value="W53A">
              <option value="W53B">
              <option value="W53C">
              <option value="W53D">
              <option value="W59">
              <option value="W61">
              <option value="W70">
              <option value="W71">
              <option value="W79">
              <option value="W84">
              <option value="W85">
              <option value="W85ABC">
              <option value="W85DE">
              <option value="W85FG">
              <option value="W85HJK">
              <option value="W89">
              <option value="W91">
              <option value="W92">
              <option value="W98">
              <option value="WW15">
              <option value="WW25">
            </datalist>
        </div>
        <div class="col-4">
            <input id='roomInput' type="text" class="form-control" placeholder="Room" name="room" required>
        </div>
      </div>

      <div class="form-group">
        <label for="foodType">Type of food</label>
        <input type="text" class="form-control" placeholder="e.g., pizza" id="typeInput" list ="foodTypes" name="food_type">
            <datalist id="foodTypes">
              <option value="Pizza">
              <option value="Sandwiches">
              <option value="Salad">
              <option value="Pasta">
              <option value="Cookies">
              <option value="Coffee">
              <option value="Burgers">
              <option value="Tacos">
              <option value="Fruit">
              <option value="Vegetables">
              <option value="Hot Dogs">
              <option value="Pastries">
              <option value="Baked Goods">
              <option value="Ice Cream">
              <option value="Cupcakes">
              <option value="Candy">
              <option value="Seafood">
              <option value="Donuts">
              <option value="Sushi">
              
            </datalist>
      </div>

      <div class="form-group">
        <label for="inputQuantity">Quantity</label>
        <input type="text" class="form-control" placeholder="e.g., 5 pies" id="quantInput" name="quantity">
      </div>

      <div class="form-group">
        <label for="inputVendor">Vendor</label>
        <input type="text" class="form-control" placeholder="e.g., Bertucci's" id="vendInput" name="vendor">
      </div>

      <div class="form-group">
        <label for="inputNotes">Other notes</label>
        <input type="text" class="form-control" placeholder="e.g., bring your own plates" id="notesInput" name="notes">
      </div>

      <!--Upload widget that allows file uploading -->
      <label for="Upload">Upload an Image</label>
      <div class="upload">
        <input id="photoupload" name="food_image" type="file" accept="image/*" >
        <!-- <button id="addphoto" onclick="addPhoto()">
        Add Photo
        </button> -->
      </div>



      <!--CHANGE THIS TO ACTUAL URL-->
      <button type="submit" class="btn btn-submit btn-block" id="submit-button">Submit</button>
      
    <!-- </form> -->
    </div><!--closing div for container (everything below nav)-->   
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.182.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <script src="/static/js/api.js"></script>
    <script src="/static/js/home.js"></script>
    <script src="/static/js/index.js"></script>
  <script src="/static/js/navbar.js"></script>
    <script src="/static/js/photo.js"></script>
<!--     <script src="/static/js/feed.js"></script> -->
<!--     <script src="/static/js/index.js"></script> -->
  </body>
</html>
