<!DOCTYPE html>
<html>
  <head>
    <title>Profile Page</title>
     <link rel="icon" type="image/png" href="https://lh3.googleusercontent.com/QOLH6xfPsFzIaOVW8-Ds_Y8GdxlMqJZuV05BIBuOmynFp13Ja_tKZc3N5VNEq7dcMQOW2uWZ4hHpGQkfWCLmvaqFST15niDJBUGimCiv8jOEjOh_WBMwbI2592AlWWeRi5XZOHhb1V0KHZJJjB1j2KMHCOwFjpnzcaBJkOP6rdNWcroeXG4eP_I5xDRsrb0rtF6FCPhSR43dyx_KQo5_7JgCFHXVe9Y8nU93hS6JE6OYnxWsIxD4i6az_bGvbpGMlqBq0KlTE7AKcAjHvosnyfiObuvNfxf33dHPFLS8-cCVT_xS66v3AEQuDYvISSgMPVH0cPpH4NY8cH3vy0Q4Hqe-MR-O97QKtrmZSy8BQ6vFD8Pdphy7EkldccE2kmjgwVjW2F6bymM3BZ7GuZ6DFgJjFAvEaUIlcplxFH8U0DOVXroxaT6GnYRCHXrP-zSDUloepNxzZIH3tjjnloMVt3HddhMOGGbhR9ruyOAP6KFVlpUcV8bHxOup6Bt9F8qNfGZyiA3FlIRb3BXc_Edwrxt3zDhXmy38Wp-zmUqeRRI_UK-6-2qsE0WSLr99z-hDdDWkN7dLKvny9hA870lmOf-M6Rz6vH0ooAwhBXk=w1187-h718-no " />
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="291446340302-u7q8pakhg4b9vs1pfe434nuvsm3m39dp.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="291446340302-u7q8pakhg4b9vs1pfe434nuvsm3m39dp.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/profile.css">


  

  </head>
  <body>

 

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="entirenavbar">
<div class="navbar-brand brandlogo" href="#">

  <img id="logo" src="https://image.ibb.co/czQsj6/Vulture_Logo.png" width="70" class="d-inline-block align-top" alt="" style="padding-top: 8px">
  <span id="Vulture">Vulture</span>

</div>


<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">


  <div class="navbar-nav" id="nav-item-container">
    <!-- navbar items are inserted here -->
  </div>
</div>

</nav>

<div id="pictureframe2">
                    <div id="bird">
                     <div id="body2"></div>
                      <div id="body1"></div>
                     <div id="wing-l"></div>  
                     <div id="wing-r"></div>  
                    </div>
                    <div id="shadow"></div>
                  </div>

    <div class="container text-left" id="profile-container">
        

  <div class="row rowrowrow">
        <div class="col-lg-5">
                <div class="circle-avatar" id="profile-image">           
                </div>
        </div>
        <div class="col-lg-7">
            <div id="pictureframe">
                    <div id="bird">
                     <div id="body2"></div>
                      <div id="body1"></div>
                     <div id="wing-l"></div>  
                     <div id="wing-r"></div>  
                    </div>
                    <div id="shadow"></div>
                  </div>
                    <div id="name-container">
                        <!-- name inserted here -->

                    </div>

                    
                      
                        
                          <div class="row" style="padding-left: 1vw;">
                          <h2 id='member'><h2>
                          </div>
                          <div class="row" style="padding-left: 1vw; padding-top: .4vh">
                          <h2 id="activepost"><b>Active Posts:</b></h2>
                        </div>
                        
                        <div class="row " id="active-posts">
                        

                                <!-- last post inserted here -->
                         
                        </div>
            
                    
        
          </div>
    </div>
  </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

  <script src="/static/js/api.js"></script>
  <script src="/static/js/navbar.js"></script>
  <script src="/static/js/profile.js"></script>

</html>
